{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
{{#> header}}
  {{#if article.indexImageUrl}}
    <link rel="preload" as="image" href="{{fixImagePath article.indexImagePath}}"/>
  {{/if}}
{{/header}}
{{#> layout}}
  <div class="container">
    <img id="titleImg" src="{{fixImagePath article.indexImagePath}}"/>
    <h1 id="articleTitle">{{article.title}}</h1>
    <hr/>
    <div class="article">{{{article.body}}}</div>
    <hr>
    <div>
      <p>Written by: {{article.author.username}}</p>
      <p>Published: {{formatTime article.postedAt 'DD.MM.YYYY HH:mm'}}</p>
      {{#if_neq article.postedAt article.updatedAt}}
        <p>Edited: {{formatTime article.updatedAt 'DD.MM.YYYY HH:mm - '}} {{timeFromNow article.updatedAt}}</p>
      {{/if_neq}}
    </div>
    {{>editControls article}}
  </div>
{{/layout}}