{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
{{#>layout}}
  {{#if bad}}
    <div class="container error-highlight">
      <span class="error-text">{{bad}}</span>
    </div>
  {{/if}}
  <form action="/article/{{#if isEdit}}edit{{else}}new{{/if}}" method="post">
    <div>{{>markdownEditor editorDefault=article.rawBody}}</div>
    <div class="container">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" name="postedById" value="{{user.id}}">
      <input type="hidden" name="postedByName" value="{{user.username}}">
      {{#if isEdit}}
        <input type="hidden" name="articleId" value="{{article._id}}">
      {{/if}}
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{article.title}}"><br>
      <label for="indexImg">Index img url:</label>
      <input type="text" id="indexImg" name="indexImg" value="{{article.indexImagePath}}"><br>
      <label for="indexImgAlt">Index img alt text:</label>
      <input type="text" id="indexImgAlt" name="indexImgAlt" value="{{article.indexImageAlt}}"><br>
      <label for="brief">Brief:</label>
      <textarea id="brief" name="brief">{{article.brief}}</textarea><br>
      <label for="public" class="low-margin">Public state:</label>
      <select id="public" name="public" autocomplete="off">
        <option value="0" {{#if_eq article.public 0}}selected="selected"{{/if_eq}}>Private</option>
        <option value="1" {{#if_eq article.public 1}}selected="selected"{{/if_eq}}>Public</option>
        <option value="2" {{#if_eq article.public 2}}selected="selected"{{/if_eq}}>Link only</option>
      </select><br>
      {{#if isEdit}}
        <label for="editUpdatedAt">Edit publishing time:</label>
        <input type="checkbox" id="editUpdatedAt" name="editUpdatedAt"><br>
        <label for="setPublicationTime">Set publication time to now:</label>
        <input type="checkbox" id="setPublicationTime" name="setPublicationTimeToNow"><br>
        <span>Published on: </span>
        <label for="postedAt">Date:</label>
        <input id="postedAt" name="postedAtDate" type="date" value="{{getDateString article.postedAt}}">
        <label for="postedAtHours">Time:</label>
        <input id="postedAtHours" name="postedAtHours" type="time" value="{{getTimeString article.postedAt}}">
        <label for="timeZone">Timezone:</label>
        <input id="timeZone" name="timeZone" type="text" readonly value="UTC"><br>
      {{/if}}
      <input type="submit">
    </div>
    {{>uploadBrowser}}
  </form>
  {{>upload}}
{{/layout}}
