{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
{{#> header}}
  {{#if project.indexImageUrl}}
    <link rel="preload" as="image" href="{{project.indexImageUrl}}"/>
  {{/if}}
{{/header}}
{{#> layout}}
  <div class="container">
    <img id="titleImg" src="{{project.indexImageUrl}}"/>
    <h1 id="projectTitle">{{project.title}}</h1>
    <hr/>
    <div class="project">{{{project.body}}}</div>
    <hr>
    <div>
      <p>Written by: {{project.author.username}}</p>
      <p>Published: {{formatTime project.postedAt 'DD.MM.YYYY HH:mm'}}</p>
      {{#if_neq project.postedAt project.updatedAt}}
        <p>Edited: {{formatTime project.updatedAt 'DD.MM.YYYY HH:mm - '}} {{timeFromNow project.updatedAt}}</p>
      {{/if_neq}}
    </div>
    {{>editControls project}}
  </div>{{/layout}}