{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
<div class="container {{#if_eq public 2}}link-only{{/if_eq}}">
  <br/>
  <img src="{{indexImageUrl}}" width="550" height="250"/><br/>
  <div class="articleContainer indexarticleClickArea">
    <h1>{{title}}</h1>
    {{brief}}<br/>
    <p>Published: {{formatTime article.postedAt 'LLLL'}}</p>
    <p>By: {{author.username}}</p>
    <a href="/article/id/{{_id}}">Read more...</a>
    {{>editControls}}
  </div>
</div>