{{!
/**
 *  snekw.com,
 *  Copyright (C) 2018 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
<div id="{{_id}}" class="flex-wrapper" draggable="true" ondragstart="onDragStart(event)">
  {{#if attached}}
    <input type="hidden" name="attachedUploads[]" value="{{_id}}">
  {{/if}}
  <img class="flex-left upl-browser-img" src="/{{path}}">
  <p class="flex">
    Title: <span data-title>{{info.title}}</span> Size: <span data-size>{{size}}</span> B
    <button data-title="{{info.title}}" data-name="{{name}}" data-id="{{_id}}" onclick="onUploadDelete(event)">Delete</button>
  </p>
</div>